source https://nuget.org/api/v2
framework: net461

nuget FAKE >= 5 beta
nuget FSharp.Formatting >= 3 beta
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs
